[submodule "Contrib/GEita"]
	path = Contrib/GEita
	url = https://github.com/Numbers-Group/GEita.git
[submodule "Contrib/Fortnight-resources"]
	path = Contrib/Fortnight-resources
	url = https://github.com/Numbers-Group/Fortnight-resources.git
